.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;
  padding: 1rem;

  &-form-title {
    padding: 0.5rem;
  }
  & > div:first-child {
    text-align: center;
  }
  img {
    max-width: 100px;
  }

  & > div:last-child {
    padding-right: 0.5rem;
    .title {
      display: grid;
      grid-template-columns: 4fr 1fr;
      border-bottom: dotted #888 1px;
      padding-bottom: 0.5rem;

      small {
        text-align: right;
      }
    }
    p {
      text-align: justify;
    }
  }
}
